## Final Project Submission

Please fill out:
* Student name: Laura Lewis
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Joe San Pietro
* Blog post URL:
***

# Introduction

Project aims, data source, etc.

***
# Obtaining the data

In this section...

Source of data:...

In [1]:
# Importing the required libraries
import pandas as pd
pd.set_option('display.max_columns', 50) # Display up to 50 columns at a time
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import glob # To read all csv files in the directory

The most recent Kickstarter data from https://webrobots.io/kickstarter-datasets/ (from 14 March 2019) is stored in 56 separate csv files. The code below creates a list of all csv files beginning with 'Kickstarter' and concatenates them into one dataframe:

In [2]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('Kickstarter*.csv')], ignore_index = True)

In [3]:
df.head(3)

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,current_currency,deadline,disable_communication,friends,fx_rate,goal,id,is_backing,is_starrable,is_starred,launched_at,location,name,permissions,photo,pledged,profile,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,21,2006 was almost 7 years ago.... Can you believ...,"{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",802,US,1387659690,"{""id"":1495925645,""name"":""Daniel"",""is_registere...",USD,$,True,USD,1391899046,False,NaN,1.0,200.0,287514992,NaN,False,NaN,1388011046,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",New Final Round Album,NaN,"{""key"":""assets/011/625/534/5bea1760d7f20943c4c...",802.0,"{""id"":822687,""project_id"":822687,""state"":""inac...",new-final-round-album,https://www.kickstarter.com/discover/categorie...,True,False,successful,1391899046,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",802.0,international
1,97,An adorable fantasy enamel pin series of princ...,"{""id"":54,""name"":""Mixed Media"",""slug"":""art/mixe...",2259,US,1549659768,"{""id"":1175589980,""name"":""Katherine"",""slug"":""fr...",USD,$,True,USD,1551801611,False,NaN,1.0,400.0,385129759,NaN,False,NaN,1550073611,"{""id"":2486340,""name"":""Sacramento"",""slug"":""sacr...",Princess Pals Enamel Pin Series,NaN,"{""key"":""assets/024/033/030/dea4e3901d10195b035...",2259.0,"{""id"":3665299,""project_id"":3665299,""state"":""in...",princess-pals-enamel-pin-series,https://www.kickstarter.com/discover/categorie...,True,False,successful,1551801611,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",2259.0,international
2,88,Helping a community come together to set the s...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",29638,US,1477242384,"{""id"":1196856269,""name"":""MelissaThomas"",""is_re...",USD,$,True,USD,1480607930,False,NaN,1.0,27224.0,681033598,NaN,False,NaN,1478012330,"{""id"":2383660,""name"":""Columbus"",""slug"":""columb...",Their Life Through Their Lens-the Amish and Me...,NaN,"{""key"":""assets/014/262/672/97944960ba30239051d...",29638.0,"{""id"":2730508,""project_id"":2730508,""state"":""in...",their-life-through-their-lens-the-amish-and-me...,https://www.kickstarter.com/discover/categorie...,True,True,successful,1480607932,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",29638.0,international

The resulting dataframe contains 209,222 projects.

In [4]:
len(df)

209222

***
# Scrubbing the data

In this section...

**Inspecting and dropping columns**

In [5]:
# Checking the columns
df.columns

Index(['backers_count', 'blurb', 'category', 'converted_pledged_amount',
       'country', 'created_at', 'creator', 'currency', 'currency_symbol',
       'currency_trailing_code', 'current_currency', 'deadline',
       'disable_communication', 'friends', 'fx_rate', 'goal', 'id',
       'is_backing', 'is_starrable', 'is_starred', 'launched_at', 'location',
       'name', 'permissions', 'photo', 'pledged', 'profile', 'slug',
       'source_url', 'spotlight', 'staff_pick', 'state', 'state_changed_at',
       'static_usd_rate', 'urls', 'usd_pledged', 'usd_type'],
      dtype='object')

Description of each column...

- 
- disable_communication - whether or not a project owner disabled communication with their backers
- is_starrable - whether or not a project has been starred (liked and saved) by users

In [6]:
# Checking for duplicates of individual projects, and sorting by id
duplicates = df[df.duplicated(subset='id')].sort_values(by='id')
print(f"Of the {len(df)} projects in the dataset, there are {len(duplicates)} which are listed more than once.")

Of the 209222 projects in the dataset, there are 26958 which are listed more than once.

Duplicates are an issue in this dataset and will need to be dealt with. Further cleaning of the data will help clarify which duplicates, if any, need to be removed.

In [7]:
# Checking column information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 37 columns):
backers_count               209222 non-null int64
blurb                       209214 non-null object
category                    209222 non-null object
converted_pledged_amount    209222 non-null int64
country                     209222 non-null object
created_at                  209222 non-null int64
creator                     209222 non-null object
currency                    209222 non-null object
currency_symbol             209222 non-null object
currency_trailing_code      209222 non-null bool
current_currency            209222 non-null object
deadline                    209222 non-null int64
disable_communication       209222 non-null bool
friends                     300 non-null object
fx_rate                     209222 non-null float64
goal                        209222 non-null float64
id                          209222 non-null int64
is_backing                  300 non-null object
is_starrable                209222 non-null bool
is_starred                  300 non-null object
launched_at                 209222 non-null int64
location                    208996 non-null object
name                        209222 non-null object
permissions                 300 non-null object
photo                       209222 non-null object
pledged                     209222 non-null float64
profile                     209222 non-null object
slug                        209222 non-null object
source_url                  209222 non-null object
spotlight                   209222 non-null bool
staff_pick                  209222 non-null bool
state                       209222 non-null object
state_changed_at            209222 non-null int64
static_usd_rate             209222 non-null float64
urls                        209222 non-null object
usd_pledged                 209222 non-null float64
usd_type                    208742 non-null object
dtypes: bool(5), float64(5), int64(7), object(20)
memory usage: 52.1+ MB

Some columns contain very few nun-null entries, and can be dropped:

In [8]:
# Dropping columns that are mostly null
df.drop(['friends', 'is_backing', 'is_starred', 'permissions'], axis=1, inplace=True)

Other columns are not useful for the purposes of this project, and can also be dropped:

- converted_pledged_amount - most currencies are converted into USD in this column, but not all. Instead, the 'usd_pledged' column will be used as these all use the same currency (the dollar).
- creator - most projects are by different people, and so this cannot be usefully used to group or categorise projects, and is not useful in a machine learning context.
- currency - all currency values will be used as/converted to dollars, so that they can be evaluated together. It is not necessary to keep the original record because of this, and because it will be highly correlated with country (which will be kept).
- currency_symbol - as above.
- currency_trailing_code - as above.
- current_currency - as above.
- fx_rate - this is used to create 'converted_pledged_amount' from 'pledged', but does not always convert to dollars so can be dropped in favour of 'static_usd_rate' which always converts to dollars.
- photo - image processing/computer vision will not be used in this project.
- pledged - data in this column is stored in native currencies, so this will be dropped in favour of 'usd_pledged' which is all in the same currency (dollars).
- profile - this column contains a combination of information from other columns (e.g. id, state, dates, url).
- slug - this is simply the 'name' column with hyphens instead of spaces.
- source_url - the sites that the rows were each scraped from is not useful for building a model, as each is unique to an id.
- spotlight - projects can only be spotlighted after they are already successful, so this will be entirely correlated with successful projects.
- state_changed_at - this is the same as deadline for most projects. The only exceptions are for projects which were cancelled before their deadline, but they will not be included in this analysis.
- urls - as with source_url.
- usd_type - it is unclear what this column means, but it is unlikely to be necessary since all currency values will be converted to dollars, and other currency information has been dropped.

In [9]:
# Dropping columns that aren't useful
df.drop(['converted_pledged_amount', 'creator', 'currency', 'currency_symbol', 'currency_trailing_code', 'current_currency', 'fx_rate', 'photo', 'pledged', 'profile', 'slug', 'source_url', 'spotlight', 'state_changed_at', 'urls', 'usd_type'], axis=1, inplace=True)

**Converting datetime columns**

Columns containing dates are currently stored in unix time, and need to be converted to datetime:

In [10]:
# Converting dates from unix to datetime
cols_to_convert = ['created_at', 'deadline', 'launched_at', 'state_changed_at']
for c in cols_to_convert:
    df[c] = pd.to_datetime(df[c], origin='unix', unit='s')

In [11]:
print(f"The dataset contains projects added to Kickstarter between {min(df.created_at).strftime('%d %B %Y')} and {max(df.created_at).strftime('%d %B %Y')}.")

The dataset contains projects added to Kickstarter between 22 April 2009 and 14 March 2019.

Individual columns will now be pre-processed, and additional features engineered, where necessary.

**Blurb**

Natural language processing is beyond the scope of this project. The length of the blurbs written by project creators will be calculated though, in case this is useful for the model (e.g. people preferring to read shorter or longer blurbs when choosing what to fund). The original blurb variable will then be dropped.

In [12]:
# Count length of each blurb
df['blurb_length'] = df['blurb'].str.split().str.len()

# Drop blurb variable
df.drop('blurb', axis=1, inplace=True)

**Category**

The category variable is currently stored as a string, although it was clearly originally a dictionary. The example below shows that each project has both a category (e.g. games) and a sub-category (e.g. tabletop games). Both will be extracted.

In [13]:
# Example category value
df.iloc[0]['category']

'{"id":43,"name":"Rock","slug":"music/rock","position":17,"parent_id":14,"color":10878931,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/music/rock"}}}'

In [14]:
# Extracting the relevant sub-category section from the string
f = lambda x: x['category'].split('/')[1].split('","position')[0]
df['sub_category'] = df.apply(f, axis=1)

# Extracting the relevant category section from the string, and replacing the original category variable
f = lambda x: x['category'].split('"slug":"')[1].split('/')[0]
df['category'] = df.apply(f, axis=1)

In [15]:
# Counting the number of unique categories
print(f"There are {df.category.nunique()} unique categories and {df.sub_category.nunique()} unique sub-categories.")

There are 30 unique categories and 145 unique sub-categories.

**Disable_communication**

99.7% of project owners did not disable communication with their backers (unsurprisingly). Because nearly all projects have the same value for this variable, it will be dropped as it does not provide much information.

In [20]:
# Checking the proportions of each category
df.disable_communication.value_counts(normalize=True)

False    0.997022
True     0.002978
Name: disable_communication, dtype: float64

In [21]:
df.drop('disable_communication', axis=1, inplace=True)

**Goal**

The goal amount of funding for each project is currently recorded in native currencies. In order to allow for fair comparisons between projects, goal will be converted into dollars (as amount pledged already is).

In [22]:
# Calculate new column 'usd_goal' as goal * static_usd_rate
df['usd_goal'] = df['goal'] * df['static_usd_rate']

In [24]:
# Dropping goal and static_usd_rate
df.drop(['goal', 'static_usd_rate'], axis=1, inplace=True)

**Is_starrable**

Only 3.3% of projects were starred by users. Although this is only a very small proportion, whether or not a project was liked and saved by users is likely to be informative about whether or not a project was successful, so the variable will be kept.

In [30]:
# Figure out what this is, and do a count_values() to figure out whether it's worth including or mostly FALSE
df.is_starrable.value_counts(normalize=True)

False    0.967403
True     0.032597
Name: is_starrable, dtype: float64

**Location**

The location field contains the town/city that a project originates from, as well as the country. There are a large number (15,235) of unique locations. Because the country is already recorded separately in the country field, and there are such a large number of unique categories (making one-hot encoding not useful, particularly as there are likely to be a lot of smaller towns and cities with very few projects), the column will be dropped.

In [35]:
# Example location value
df.iloc[0]['location']

'{"id":2379574,"name":"Chicago","slug":"chicago-il","short_name":"Chicago, IL","displayable_name":"Chicago, IL","localized_name":"Chicago","country":"US","state":"IL","type":"Town","is_root":false,"urls":{"web":{"discover":"https://www.kickstarter.com/discover/places/chicago-il","location":"https://www.kickstarter.com/locations/chicago-il"},"api":{"nearby_projects":"https://api.kickstarter.com/v1/discover?signature=1552595044.c1041c6bca69b0b72738f3b9504ebf921b3e5e0e&woe_id=2379574"}}}'

In [34]:
# Counting the number of unique locations
df.location.nunique()

15235

In [36]:
# Dropping location
df.drop('location', axis=1, inplace=True)

**Name**

The length of project names will be calculated, in case this is useful for the model. The original name variable will then be dropped.

In [38]:
# Count length of each name
df['name_length'] = df['name'].str.split().str.len()
# Drop name variable
df.drop('name', axis=1, inplace=True)

**Additional calculated features**

Additional features can be calculated from the existing features, which may also help to predict whether a project is successfully funded. The features to be added are: campaign length, launch day of week, deadline day of week, launch month, deadline month, launch time of day, deadline time of day.

In [59]:
# Creating a column for campaign length
df['campaign_days'] = df['deadline'] - df['launched_at']
df['campaign_days'] = df['campaign_days'].dt.round('d').dt.days # Rounding to nearest days, then showing as number only

In [80]:
df.head()

,backers_count,category,country,created_at,deadline,id,is_starrable,launched_at,staff_pick,state,usd_pledged,blurb_length,sub_category,usd_goal,name_length,campaign_days
0,21,music,US,2013-12-21 21:01:30,2014-02-08 22:37:26,287514992,False,2013-12-25 22:37:26,False,successful,802.00000,26.0,rock,200.0000,4,45
1,97,art,US,2019-02-08 21:02:48,2019-03-05 16:00:11,385129759,False,2019-02-13 16:00:11,False,successful,2259.00000,9.0,mixed media,400.0000,5,20
2,88,photography,US,2016-10-23 17:06:24,2016-12-01 15:58:50,681033598,False,2016-11-01 14:58:50,True,successful,29638.00000,25.0,photobooks,27224.0000,9,30
3,193,fashion,IT,2018-10-24 08:32:00,2018-12-08 22:59:00,1031782682,False,2018-10-27 23:56:22,False,successful,49075.15252,13.0,footwear,45461.0028,5,42
4,20,technology,US,2015-03-07 05:35:17,2015-04-08 16:36:57,904085819,False,2015-03-09 16:36:57,False,failed,549.00000,22.0,software,1000.0000,4,30

In [ ]:
# Check for nulls

In [ ]:
# Drop projects which are not successes or failures

In [ ]:
# Drop projects with a deadline that is on or after the date the data was collected

In [127]:
# Drop duplicates after checking which (if any) values differ between rows
# print(len(df[df.duplicated()].sort_values(by='id')))
# df[df.duplicated()].sort_values(by='id')

In [149]:
# Setting the id column as the index
df.set_index('id', inplace=True)
df.head()

,backers_count,category,country,created_at,deadline,disable_communication,goal,is_starrable,launched_at,location,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,blurb_length,name_length,sub_category
id,,,,,,,,,,,,,,,,,,
287514992,21,rock,US,2013-12-21 21:01:30,2014-02-08 22:37:26,False,200.0,False,2013-12-25 22:37:26,"{""id"":2379574,""name"":""Chicago"",""slug"":""chicago...",False,successful,2014-02-08 22:37:26,1.000000,802.00000,26.0,4,rock
385129759,97,mixed media,US,2019-02-08 21:02:48,2019-03-05 16:00:11,False,400.0,False,2019-02-13 16:00:11,"{""id"":2486340,""name"":""Sacramento"",""slug"":""sacr...",False,successful,2019-03-05 16:00:11,1.000000,2259.00000,9.0,5,mixed media
681033598,88,photobooks,US,2016-10-23 17:06:24,2016-12-01 15:58:50,False,27224.0,False,2016-11-01 14:58:50,"{""id"":2383660,""name"":""Columbus"",""slug"":""columb...",True,successful,2016-12-01 15:58:52,1.000000,29638.00000,25.0,9,photobooks
1031782682,193,footwear,IT,2018-10-24 08:32:00,2018-12-08 22:59:00,False,40000.0,False,2018-10-27 23:56:22,"{""id"":725746,""name"":""Venice"",""slug"":""venice-ve...",False,successful,2018-12-08 22:59:00,1.136525,49075.15252,13.0,5,footwear
904085819,20,software,US,2015-03-07 05:35:17,2015-04-08 16:36:57,False,1000.0,False,2015-03-09 16:36:57,"{""id"":2479651,""name"":""Redmond"",""slug"":""redmond...",False,failed,2015-04-08 16:36:59,1.000000,549.00000,22.0,4,software

***
# Exploring the data

***
# Modeling

***
# Interpretation

***
# Summary